*.d
*.o
*.s
*.map
!Release/*.bin
!Release/*/*.bin
!Release/*/*/*.bin
*~
*orig
/Alligator/
/Duet085/
/Duet2_RTOS/
/Duet3/
/DuetM/
/DuetM_RTOS/
/PCCB/
/PCCB_X5/
/RADDS/
/RADDS_RTOS/
/SAME70_RTOS/
.settings/language.settings.xml
/Duet085_RTOS/
/SAME70XPLD/
