*.d
*.o
*.s
*.map
*~
*orig
/Alligator/
/Duet085/
/Duet085_RTOS/
/Duet2_RTOS/
/Duet3_V03/
/Duet3_V05/
/Duet3_V06/
/Duet3_V06_CAN0/
/Duet3_V06_Debug/
/DuetM_RTOS/
/PCCB_10/
/PCCB_08/
/PCCB_08_X5/
/RADDS_RTOS/
/SAME70XPLD/
.settings/language.settings.xml
/Duet3_V06/
