/* Sticky footer styles
-------------------------------------------------- */

html,
body {
  height: 100%;
  /* The html and body elements cannot have any padding or margin. */
}

/* Wrapper for page content to push down footer */
#wrap {
  min-height: 100%;
  height: auto;
  /* Negative indent footer by its height */
  margin: 0 auto -60px;
  /* Pad bottom by footer height */
  padding: 0 0 60px;
}

/* Set the fixed height of the footer here */
#footer {
  height: 60px;
  background-color: #f5f5f5;
}

.text-middle {padding-top: 15px }

div#layerChart {width:510px; height: 120px}
button#connect, button#stop, button#pause, button#reset { width:85px }
div#gFileList, div#gFileList2, div#gFileList3 {vertical-align: middle}

.file-button{width:100%;border:1px solid;border-radius:5px;border-color:#C0C0C0;padding:3px 3px 3px 3px;margin-top:1px;cursor:pointer}
.file-red{color:#fff !important;background-color:#d9534f !important;border-color:#d43f3a !important}
.file-green{color:#fff !important;background-color:#40c040 !important;border-color:#3fd43a !important}
.file-blue{color:#fff !important;background-color:#5353d9 !important;border-color:#3f3fd4 !important}
.file-grey{color:#333;background-color:#ebebeb;border-color:#adadad}
